*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html{
    font-size: 16px;
}
main{
}
.header{
    width: 100%;
    height: 50px;
    color: white;
    background-color: #590202;
}
.header__container{
    margin: auto;
    width: 100%;
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__logo{
    width: 102px;
    height:37.76px;
    margin-left:20px ;
}
.header__logo img{
    width: 100%;
    height: 100%;
}

.header__nav--ul{
    text-decoration: none;
    display: flex;
    list-style-type: none;
}
.header__nav--a {
    color: white;
    text-decoration: none;
    margin: 0 30px ;
}
.header__nav--li {
}
.hero{
    background-color: #2A2A2A;
    color: white;
    height: 360px;
}
.hero__container{
    width: 100%;
    height: 100%;
    max-width: 1020px;
    margin: auto;
    display: flex;
    align-items: flex-end;
}
.hero__mainText p{
    font-size: 2.3rem;
    margin-top:137px ;
}
.hero__mainText{
    width: 64.5%;
    height: 100%;
}
.hero__photo {
    width: 35.5%;
    height: 100%;
    background-image: url(./assets/profile.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.hero__photo img{
    width: 85%;
}
.skills{
    width: 100%;
    max-width: 1020px;
    margin: 30px auto;
}
.skills h2{
    font-size: 2.5rem
}
.skills__container{
display: grid;
grid-template: repeat(2,1fr)/repeat(5,1fr);
gap: 10px;
height: 330px;
width: 855px;
margin: 20px auto;
}
.skills__items{
 

}
.html{
background-color:#E44D26 ;
}
.css {
    
    background-color:#1572B6;
}
.js{
    background-color:#F0DB4F;
    
}
.git{
    background-color:#F34F29 ;
    
}
.sass{
    
    background-color:#CB6699;
}
.node{
    
    background-color:#83CD29;
}
.mongo{
    background-color:#4FAA41;
    
}
.post{
    background-color:#336791 ;
    
}
.react{
    background-color:#61DAFB;

}
.ui{
    background-color: #2A2A2A;
}
.projects{
    width: 1020px;
    margin: 0 auto;
}
.projects h2{
    font-size: 2.5rem
}
.project{
    width: 100%;
    height: 288px;
    display: grid;
    grid-template-columns: 513px 1fr;
    margin-top: 30px;
}
.project__imgContainer{
    width: 513px;
    height: 288px;
    background-color: #2A2A2A;
}
.project__info{
    width: 100%;
    margin: 10px;
}
.project__info h3{
    font-size: 2.5rem;
}
.techs{
    height: 30px;
    width: 100%;
    background-color: whitesmoke;
}
.project__info p{
    font-weight: 300;
    font-size: 1.5rem;
}
